<!DOCTYPE html>
<html>
<head>
  <title>Geopod</title>
  <%= stylesheet_link_tag    "geopod/application", :media => "all" %>
  <%= javascript_include_tag "geopod/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
